[submodule "licensing-service"]
	path = licensing-service
	url = git@github.com:SBZORRO/licensing-service.git
[submodule "configserver"]
	path = configserver
	url = git@github.com:SBZORRO/configserver.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:SBZORRO/gateway.git
